<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.himanshurawat.buildit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewUserRegistration"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity
            android:name=".Labourer"
            android:label="@string/title_activity_labourer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stakeholder"
            android:label="@string/title_activity_stakeholder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Project"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tutorial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contractor"
            android:label="@string/title_activity_contractor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddProject"></activity>
    </application>

</manifest>